body {
  font-family: "Courier", monospace;
  font-size: 1.2em;
  line-height: 1.2em;
  background-color: rgb(192, 174, 130);
}

#wrapper {
  width: 600px;
  margin: 0 auto;
}

#game {
  margin-top: 5em;
}

#text {

}

.command {
  color: rgb(153, 51, 51);
}

.commanded {
  font-weight: bold;
}

.clickable {
  text-decoration: underline;
}
